 body {
     background-color: #1b2838;
     color: #c7d5e0;
     margin: 0;
     padding: 0;
 }

 .navbar,
 .footer {
     background-color: #171a21;
 }

 .hero {
     background-image: url('https://images.pexels.com/photos/27424789/pexels-photo-27424789/free-photo-of-noche-oscuro-tecnologia-reflejo.jpeg');
     background-size: cover;
     background-position: center;
     color: #ffffff;
     text-align: center;
     padding: 100px 20px;
     position: relative;
 }

 .hero h1 {
     font-size: 3rem;
     margin: 0;
 }

 .hero p {
     font-size: 1.25rem;
     max-width: 800px;
     margin: 20px auto 0;
 }

 .game-card {
     background-color: #2a475e;
     border: none;
     width: 90%
 }

 .game-card img {
     border-radius: 5px;
     height: 370px;
     object-fit: fill;
 }

 .game-card-title {
     color: #66c0f4;
 }

 .container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }