<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top de Videojuegos</title>

</head>

<body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Top Videojuegos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Más Vendidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Más Jugados</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="hero">
        <h1>Descubre los Mejores Videojuegos</h1>
        <p>Explora los videojuegos más vendidos y más jugados del momento. Nuestro top se basa en datos de ventas y
            estadísticas de jugadores activos para ofrecerte los títulos más destacados y populares.</p>
    </div>

    <!-- Contenido principal -->
    <main>

        <div class="container mt-5">
            <h2 class="mb-5">Top 10 Videojuegos Más Vendidos</h2>
            <div id="carouselMasVendidos" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let slide of slides1; let i = index" [class.active]="i === 0" class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 mb-4" *ngFor="let game of slide">
                                <div class="card game-card p-2">
                                    <img [src]="game.imageUrl" class="img-fluid" [alt]="game.title">
                                    <div class="card-body">
                                        <h4 class="card-title game-card-title">{{ game.title }}</h4>
                                        <h5 class="card-subtitle text-success">Ventas: {{ game.sales }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMasVendidos"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMasVendidos"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
        <div class="container ">
            <h2 class="mb-5 mt-5">Top 10 Videojuegos Más Jugados</h2>
            <div id="carouselMasJugados" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let slide of slides2; let i = index" [class.active]="i === 0" class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 mb-4" *ngFor="let game of slide">
                                <div class="card game-card p-2">
                                    <img [src]="game.imageUrl" class="img-fluid" [alt]="game.title">
                                    <div class="card-body">
                                        <h4 class="card-title game-card-title">{{ game.title }}</h4>
                                        <h5 class="card-subtitle text-success">Jugadores: {{ game.players }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controles de carrusel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMasJugados"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselMasJugados"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </main>


    <!-- Pie de página -->
    <footer class="footer py-4 mt-5">
        <div class="container text-center">
            <p>&copy; 2024 Top Videojuegos. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>